@import "../layout/color.scss";
@import "../layout/smoothing.scss";

.h1, .h2, .h3 {
  font-family: 'Merriweather', Georgia, serif;
  line-height: 1.5;
}

.h1 {
  font-size: 2.45rem;
  padding: 2rem 0 0.5rem 0;
  border-bottom: 1px solid $neutral_300;
  color: $neutral_900;
  @include bolder-smoothing;
}

.h2 {
  font-size: 1.8rem;
  border-left: 0.5rem dashed $primary_400;
  margin-left: -1.75rem;
  padding-left: 1.25rem;
  margin-top: 3rem;
}

.h3 {
  font-size: 1.4rem;
  border-left: 0.5rem dotted $primary_400;
  margin-left: -1.75rem;
  padding-left: 1.25rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 955px) {
  .h1 {
    font-size: 4vw;
    padding-top: 1.5rem;
  }

  .h2 {
    font-size: 2.9vw;
  }

  .h3 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 925px) {
  .h1 {
    font-size: 3.9vw;
    padding-top: 1.4rem;
  }
}

@media screen and (max-width: 895px) {
  .h1 {
    font-size: 3.8vw;
    padding-top: 1.3rem;
  }
}


@media screen and (max-width: 865px) {
  .h1 {
    font-size: 3.7vw;
    padding-top: 1.2rem;
  }
}

@media screen and (max-width: 835px) {
  .h1 {
    font-size: 3.55vw;
    padding-top: 1.1rem;
  }
}

// Back to full width, 655 <=> 955

@media screen and (max-width: 800px) {
  .h1 {
    font-size: 2.45rem;
    padding-top: 1.5rem;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .h3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 655px) {
  .h1 {
    font-size: 5.8vw;
    padding-top: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 5.7vw;
    padding-top: 1.1rem;
  }
}

@media screen and (max-width: 550px) {
  .h1 {
    font-size: 6.4vw;
    padding-top: 1rem;
  }

  .h2 {
    font-size: 5.5vw;
  }

  .h3 {
    font-size: 5.5vw;
  }

  .h2, .h3 {
    border: none;
    margin: 2.5rem 0 0 0;
    padding: 0;
  }
}
