@import "../layout/color.scss";
@import "../layout/smoothing.scss";

:global {
  @import "./prism.scss";

  code[class*="language-"],
  pre[class*="language-"] {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  // Code blocks:
  pre[class*="language-"] {
    background: $neutral_100;
    border-color: $neutral_300;

    .token-line {
      display: block;
      height: 1.3rem;
    }
  }

  // Inline code:
  :not(pre) > code[class*="language-"] {
    background: $neutral_250;
    padding: 0.1rem 0.2rem;
    white-space: nowrap;
    display: inline-block;

    .token-line:after {
      content: " ";
    }

    .token-line:last-child:after {
      content: "";
    }
  }

  a code[class*="language-"] {
    color: $primary_700;
  }
}

@media screen and (max-width: 800px) {
  aside code[class*="language-"] {
    background: $neutral_300;
  }
}

@media screen and (max-width: 550px) {
  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 12px;
  }
}
