@import "../layout/color.scss";

.nav_bar {
  background: $primary_100;
  padding: 0.8rem 2.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  color: $neutral_700;
  line-height: 1.5;
}

@media (max-width: 550px) {
  .nav_bar {
    padding: 0.8rem 1.25rem;
  }
}
