.nav_bar {
  background: #faf7f0;
  background: #f0f7fa;
  padding: 0.8rem 2.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  color: #868279;
  line-height: 1.5;
}

@media (max-width: 550px) {
  .nav_bar {
    padding: 0.8rem 1.25rem;
  }
}
