@import "../layout/color.scss";

.nav_bar {
  background: $primary_100;
  margin: 0 -2.5rem;
  padding: 0.5rem 2.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: $neutral_700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a:not([href]) {
    color: $neutral_500 !important;
  }

  &:first-child {
    margin-bottom: 3rem;
    border-bottom: 1px solid $primary_200;
  }

  &:last-child {
    margin-top: 3rem;
    border-top: 1px solid $primary_200;
  }
}

.breadcrumbs {
  font-size: 0.95rem;

  a:before {
    content: " / ";
    color: $neutral_700;
  }

  a:first-child:before {
    content: "";
  }
}

.links {
  a {
    margin-left: 2rem;
  }

  a:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .nav_bar {
    margin: 0 -0.75em;
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
  }

  .breadcrumbs {
    font-size: 0.9rem;
  }

  .links a {
    margin-left: 1.5rem;
  }
}
