@import "../layout/color.scss";

.footer {
  height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  animation: fadein 30s;

  a {
    color: $neutral_900;
    text-decoration: none;
  }

  p {
    flex: 1;
  }
}

@keyframes fadein {
  0%   { opacity: 0 }
  80%  { opacity: 0 }
  100% { opacity: 1 }
}
