@import "./color.scss";
@import "./smoothing.scss";

body {
  background-color: $neutral_200;
  @include lighter-smoothing;
}

.layout {
  max-width: 40rem;
  padding-right: 18.75rem;
  margin: auto;
  background: $neutral_100;
  border-top: none;
  box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.content {
  background: white;
  padding: 0 2.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.666666666666667;
  box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.01);

  img, video {
    width: 100%;
  }

  time {
    display: block;
    margin: 0.5rem 0 3rem 0;
    color: $neutral_700;
    font-size: 1.05rem;
  }

  p, pre {
    margin: 1.5rem 0;
  }

  strong {
    font-weight: bold;
    color: $neutral_900;
  }

  em {
    font-style: italic;
  }

  a {
    color: $primary_700;
    text-decoration: none;
    @include bolder-smoothing;
  }

  ul {
    list-style-type: square;
    padding-left: 1.75rem;
    margin-bottom: 1.5rem;
  }

  ol {
    counter-reset: c;
    margin-left: 0.4rem;

    li {
      counter-increment: c;

      &:before {
        content: counter(c) '.';
        font-weight: bold;
        margin-right: 0.6rem;
        color: $neutral_900;
      }
    }
  }

  li {
    padding-left: 0.25rem;
    margin: 0.75rem 0;
  }

  :global(.more_space) {
    li {
      margin: 1.5rem 0;
    }
  }

  blockquote {
    border-left: 0.3rem solid $neutral_300;
    padding-left: 0.9rem;
    color: $neutral_750;
  }

  :global(.note) {
    background: $accent2_100;
    padding: 0.5rem 0.7rem;
    border: 1px solid $accent2_300;
    border-radius: 3px;
    margin: 1.5rem 0;

    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .layout {
    padding-right: 0;
    border: none;
  }
}

@media screen and (max-width: 550px) {
  .layout {
    time {
      font-size: 0.9rem;
    }

    :global(.note) {
      font-size: 0.85rem;
      padding: 0.5rem;
      line-height: 1.4;
    }

    ul {
      padding-left: 1.25rem;
    }
  }

  .content {
    padding: 0 0.75rem;
  }
}
