$primary_900: #113955;
$primary_800: #135686;
$primary_700: #0f74bd;
$primary_600: #2b9dee;
$primary_500: #61beff;
$primary_400: #a8dbff;
$primary_300: #cceaff;
$primary_200: #e5f4ff;
$primary_100: #f5faff;

$neutral_900: #323433;
$neutral_800: #4f5452;
$neutral_700: #6a716e;
$neutral_600: #8d9691;
$neutral_500: #aab0ad;
$neutral_400: #cfd3d1;
$neutral_300: #e4e7e6;
$neutral_250: #ebedec;
$neutral_200: #f2f3f2;
$neutral_100: #fafafa;

$accent1_900: #1c4a2f;
$accent1_800: #266e45;
$accent1_700: #2b8c54;
$accent1_600: #30c06c;
$accent1_500: #48dc86;
$accent1_400: #8aefb4;
$accent1_300: #bdfad6;
$accent1_200: #dcfeea;
$accent1_100: #f0fff6;

$accent2_900: #503d16;
$accent2_800: #82621c;
$accent2_700: #bb8c25;
$accent2_600: #e7bb5a;
$accent2_500: #f4d080;
$accent2_400: #f9dea4;
$accent2_300: #fceac5;
$accent2_200: #fef5e1;
$accent2_100: #fffaf0;

$accent3_900: #4a1c1e;
$accent3_800: #813134;
$accent3_700: #bb3e43;
$accent3_600: #df686c;
$accent3_500: #fa898d;
$accent3_400: #fdb4b7;
$accent3_300: #fed7d8;
$accent3_200: #ffebec;
$accent3_100: #fff5f5;

$accent4_900: #3c2a3c;
$accent4_800: #604360;
$accent4_700: #875e86;
$accent4_600: #a178a0;
$accent4_500: #b899b7;
$accent4_400: #dbbdda;
$accent4_300: #f1dff1;
$accent4_200: #fceefb;
$accent4_100: #fff5ff;
