@import "../layout/color.scss";

.figure {
  margin: 2rem 0 1.5rem 0;

  figcaption {
    color: $neutral_800;
    font-style: italic;
    display: flex;
  }

  .arrow {
    color: $accent1_500;
    margin: 0 0.5rem 0 2rem;
  }
}
