@import "../layout/color.scss";

.figure {
  margin: 1.5rem 0;

  & > *:first-child, div pre {
    margin-bottom: 0.5rem;
  }

  figcaption {
    color: $neutral_700;
    font-style: italic;
    display: flex;

    a {
      opacity: 0.9;
    }

    code {
      background: $neutral_200;
    }

    p {
      margin: 0;
    }

    strong {
      color: $neutral_700;
    }
  }

  .arrow {
    color: $accent1_500;
    margin: 0 0.5rem 0 1.5rem;
    font-style: normal;
  }

  &:global(.more_space) {
    margin-top: 2rem;
  }

  &:global(.border) {
    img, video {
      border: 1px solid $neutral_300;
      border-radius: 3px;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 550px) {
  .figure {
    font-size: 0.85rem;

    .arrow {
      margin-left: 0.75rem;
    }
  }
}
